<link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap-grid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap-reboot.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/tether/tether.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/theme/css/style.css') }}">
<link rel="stylesheet" href="../static/assets/socicon/css/styles.css">
<link rel="preload" as="style" href="{{ url_for('static',filename='assets/mobirise/css/mbr-additional.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/mobirise/css/mbr-additional.css') }}" type="text/css">


<style type="text/css">
	h2,h3 {
		display: inline;
	}

.danger {
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 0px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}

.link:hover {
    text-decoration: underline;
    color: black;
}
.link{
  color:black;
 }

</style>
<body>
	<a href="/listener/{{home}}"><img src="{{ url_for('static',filename='home.png') }}" width="60" height="60" style="position: fixed; bottom: 20px; right: 30px; z-index: 1000"></a>
	<b style="position: absolute">id</b>
	<b style="margin-left: 10%; position: absolute;">title</b>
	{% if not artist %}
		<b style="margin-left: 40%; position: absolute;">album</b>
	{% endif %}
	{% if artist %}
		<b style="margin-left: 40%; position: absolute;">artist</b>
	{% endif %}
	<b style="margin-left: 70%; position: absolute;">genre</b>
	<br>
	<form method="POST" class="myform" id="allelements">

		{% for element in list %}
			<div style="position: absolute"> {{element[0]}} </div>
			{% if artist %}
			<a href="/songs/album/{{element[0]}}"><h2 style="margin-left: 10%; position: absolute;"  class="link">{{element[1]}}</h2></a>
			{% else %}
			<h2 style="margin-left: 10%; position: absolute;">{{element[1]}}</h2>
			{% endif %}
			
			{% if not artist %}
			<a href="/songs/album/{{element[4]}}"><h3 style="margin-left: 40%; position: absolute; padding: 4px" class="link">{{element[2]}}</h3></a>
			{% else %}
			<a href="/artist_profile/{{element[4]}}"><h3 style="margin-left: 40%; position: absolute; padding: 4px" class="link">{{element[2]}}</h3></a>
			{% endif %}
			
			<i style="margin-left: 70%; position: absolute; padding: 10px">{{element[3]}}</i>
			{% if likes %}
				<input type="submit" name="{{element[0]}}" value="Like" style="margin-left: 90%; position: absolute;" class="btn danger">
			{% endif %}
			<br>
			<hr>
		{% endfor %}
		<input type="text" name="likes" style="display: none"></button>
	</form>
	<br><br><br><br><br><br>
	<section once="footers" class="cid-rYXPLzOsh3" id="footer7-d" style="position: absolute; bottom: 0; width: 100%">


    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://github.com/EnesToptas" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-github socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.linkedin.com/in/muhammed-enes-topta%C5%9F-39a9b1183/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2020 DBtify - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</body>
