<link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap-grid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap-reboot.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/tether/tether.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/theme/css/style.css') }}">
<link rel="preload" as="style" href="{{ url_for('static',filename='assets/mobirise/css/mbr-additional.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='assets/mobirise/css/mbr-additional.css') }}" type="text/css">


<style>
@import url(https://fonts.googleapis.com/css?family=Oswald:400);
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  color: black;
}

.default:hover {
  background: #e7e7e7;
}

.myform {
	display: block;
}

body {
  height: 100%;
  background-size: cover;
  background-image: url('https://www.ecopetit.cat/wpic/mpic/218-2185615_headphones-music-wallpaper-technics-facebook-cover.jpg');

}



.navigation {
  width: 100%;
  background-color: black;
  display: block;
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 20px;
  color: white;
  width: 50px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 150px;
  color: white;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}



</style>



<body>



<div class="navigation">
  
  <a class="button" href="/logout">
    <img src="https://picsum.photos/200">
  
  <div class="logout">LOGOUT</div>

  </a>
  
</div>


<h2 style="margin-left: 12%">This is the profile page of {{username}}</h2>
<p style="margin-left: 12%">There, you can do listener related operations, and can view {{username}}'s liked songs</p>

<center>
<form method="POST">
	<button name="b4" id="order" class="btn danger">Search</button>
	<button class="btn success" name="b1">View all songs</button>
	<button name="b2" class="btn info">View all albums</button>
	<button name="b3" class="btn warning">View all artists</button>
	<button name="b5" class="btn default">View liked songs of {{username}}</button>
</form>
</center>


</body>
